/Cartfile/Carthage/Build/iOS/AssistantV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/AssistantV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/AssistantV2.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/AssistantV2.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/DiscoveryV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/DiscoveryV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/LanguageTranslatorV3.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/LanguageTranslatorV3.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/NaturalLanguageClassifierV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/NaturalLanguageClassifierV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/NaturalLanguageUnderstandingV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/NaturalLanguageUnderstandingV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/PersonalityInsightsV3.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/PersonalityInsightsV3.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/RestKit.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/RestKit.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/RxDataSources.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/RxDataSources.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/SpeechToTextV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/SpeechToTextV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/Starscream.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/Starscream.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/TextToSpeechV1.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/TextToSpeechV1.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/ToneAnalyzerV3.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/ToneAnalyzerV3.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/VisualRecognitionV3.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/VisualRecognitionV3.framework/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/Realm.framework.dSYM/** filter=lfs diff=lfs merge=lfs -text
/Cartfile/Carthage/Build/iOS/Realm.framework/** filter=lfs diff=lfs merge=lfs -text
