MachineLearningModels/Flower Classification
PokemonAR/Assets/All Pokemon
PokemonAR/Library
PokemonAR/QCAR
PokemonAR/UnityPackageManager
PokemonAR/Temp
PokemonAR/Assets/Editor
PokemonAR/Assets/Plugins
PokemonAR/Assets/Vuforia
PokemonAR/Assets/StreamingAssets
PokemonAR/Assets/Resources
vuforia-unity-6-2-10.unitypackage
PokemonAR/PokemonARiOS
