[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Cartfile/Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/RxSwiftExt"]
	path = Cartfile/Carthage/Checkouts/RxSwiftExt
	url = https://github.com/RxSwiftCommunity/RxSwiftExt.git
[submodule "Carthage/Checkouts/RxSegue"]
	path = Cartfile/Carthage/Checkouts/RxSegue
	url = https://github.com/RxSwiftCommunity/RxSegue.git
[submodule "Carthage/Checkouts/realm-cocoa"]
	path = Cartfile/Carthage/Checkouts/realm-cocoa
	url = https://github.com/realm/realm-cocoa.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Cartfile/Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Cartfile/Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/RxGesture"]
	path = Cartfile/Carthage/Checkouts/RxGesture
	url = https://github.com/RxSwiftCommunity/RxGesture.git
[submodule "Carthage/Checkouts/SVProgressHUD"]
	path = Cartfile/Carthage/Checkouts/SVProgressHUD
	url = https://github.com/SVProgressHUD/SVProgressHUD.git
[submodule "Carthage/Checkouts/XCGLogger"]
	path = Cartfile/Carthage/Checkouts/XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
[submodule "Carthage/Checkouts/Chameleon"]
	path = Cartfile/Carthage/Checkouts/Chameleon
	url = https://github.com/ViccAlexander/Chameleon.git
[submodule "Carthage/Checkouts/SwipeCellKit"]
	path = Cartfile/Carthage/Checkouts/SwipeCellKit
	url = https://github.com/SwipeCellKit/SwipeCellKit.git
[submodule "Carthage/Checkouts/swift-sdk"]
	path = Cartfile/Carthage/Checkouts/swift-sdk
	url = https://github.com/watson-developer-cloud/swift-sdk.git
[submodule "Carthage/Checkouts/SDWebImage"]
	path = Cartfile/Carthage/Checkouts/SDWebImage
	url = https://github.com/rs/SDWebImage.git
