<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>AppCorePlayground.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>AppCoreReactive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>AppCoreRealm.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C71E3EA721E009D200B7531B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71E3EAC21E00DFB00B7531B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7DAF11F1FF11C6E000D93C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7DB06DF21DFE70400B5E06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
